@charset "UTF-8";

@font-face {
    font-family: 'Sunday';
    src: url('Fontes/Sunday\ Best.ttf') format('opentype'), url('Fontes/Storytime.ttf') format('trutype');
}

@font-face {
    font-family: 'Strawberry';
    src: url('Fontes/Sweety\ Strawberry\ ttf.ttf') format('opentype'), url('Fontes/oceanicdrift.ttf') format('truetype');
}

* {
    margin: 0;
}

:root {
    --fonte_texto_1: 'Strawberry';
    --fonte_título_1: 'Sunday';
}

body {
    background-color: white;
}

header {
    background-color: black;
    font-family: var(--fonte_título_1);
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 30px;
}

header > p#créditos {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    padding-left: 45px;
    line-height: 95px;
    font-family: var(--fonte_texto_1);
    font-size: 3em;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section:nth-of-type(2) {
    background-image: url('Imagens/joaninha-1500.jpg');
}

#texto_1 {
    background-color: rgba(0, 0, 0, 0.438);
    width: 430px;
    padding-left: 12px;
    color: white;
}

section:nth-of-type(5) {
    background-image: url('Imagens/livros-1500.jpg');
}

#texto_2 {
    background-color: rgba(0, 0, 0, 0.438);
    width: 440px;
    padding-left: 12px;
    color: white;
}

footer {
    color: white;
    font-weight: bolder;
    background-color: black;
    text-align: center;
    padding: 5px;
}
